@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo img{
    width: 40px;
    height: 40px;
}
    
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.nav-link{
        text-decoration: none;
        font-weight: 600;
        margin: 0 3px;
        color: black;
        font-family: "Onest", sans-serif;
        font-size: 16px;
}

.nav-link svg{
    width: 20px;
    height: 20px;
    font-weight: bold;
}

.nav-link:hover{
        color: #3879E5;
}



.imgFondo{
    width: 100%; 
    height: 500px; 
    background-image: url(../img/fondoRetro.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.productosContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productosContainer .titleProductos{
    margin: 25px;
    color: black;
    font-size: 2.3rem;
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}

.cardProductosContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardProductosContainer .cards{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 400px;
    height: 450px;
}

.cardProductosContainer .cards img{
    width: 300px;
    height: 300px;
}

.cardProductosContainer .cards .cardInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content:  left;
    align-items: left;
    text-align: left;
}

.cardProductosContainer .cards .cardInfoContainer h3{
    color: black;
    font-size: 1.2rem;
    font-family: 'Onest', sans-serif;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}

.cardProductosContainer .cards .cardInfoContainer .precio{
    color: rgb(72, 71, 71);
    font-size: 1rem;
    font-family: 'Onest', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}

.cardProductosContainer .cards .cardInfoContainer .descripcion{
    color: black;
    font-size: 1rem;
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}


button{
    text-align: center;
    width: 180px;
    height: 35px;
    margin: 5px 0;
    border-radius: 1px;
    border: 1px solid white;
    outline: none;
    background-color: #3E8CC0;
    font-family: 'onest', sans-serif;
    color: white;
    font-weight: 500;
    text-decoration: none;
}


/*Estilado del carrito*/

.carritoCardsContainer{
    width: 100%;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px 0;
}

.carritoCardsContainer h1{
    font-family: 'onest',sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.carritoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.carritoContainer .cardCarrito{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    width: 80%;
}

.carritoContainer .cardCarrito .imgProducto img{
    width: 130px;
    height: 130px;
}

.carritoContainer .cardCarrito .cardInfoContainer h3{
        color: black;
        font-size: 1.2rem;
        font-family: 'Onest', sans-serif;
        font-weight: 800;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
    }
    
    .carritoContainer .cardCarrito .cardInfoContainer .precio{
        color: rgb(72, 71, 71);
        font-size: 1rem;
        font-family: 'Onest', sans-serif;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
    }
    
    .carritoContainer .cardCarrito .cardInfoContainer .descripcion{
        color: black;
        font-size: 1rem;
        font-family: 'Onest', sans-serif;
        font-weight: 500;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
    }

    .carritoCardsContainer .carritoVacio{
        font-size: 2rem;
        font-family: 'onest',sans-serif;
        font-weight: bold;
        color: red;
        display: none;
    }

    .carritoVacioIcon{
        width: 25px;
        height: 25px;
    }

    .botonVolverContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .botonVolver{
        width: 250px;
        height: 40px;
        position: fixed;
        bottom: 0;
        border-radius: 5px;
        background-color: black;
        text-align: center;
    }


    .botonVolver a{
        font-family: 'onest', sans-serif;
        color: white;
        font-weight: 500;
        text-decoration: none;
    }

    .vaciarCarrito{
        width: 250px;
        height: 40px;
        border-radius: 5px;
        background-color: black;
        text-align: center;
    }


    .vaciarCarrito a{
        font-family: 'onest', sans-serif;
        color: white;
        font-weight: 500;
        text-decoration: none;
    }

    

