@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo img{
    width: 100px;
    height: 100px;
}
    
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.nav-link{
        text-decoration: none;
        font-weight: 600;
        margin: 0 3px;
        color: black;
        font-family: "Onest", sans-serif;
        font-size: 16px;
}

.nav-link svg{
    width: 25px;
    height: 25px;
    font-weight: bold;
}

.nav-link:hover{
        color: #3879E5;
}



.imgFondo{
    width: 100%; 
    height: 500px; 
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.productosContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productosContainer .titleProductos{
    margin: 50px 0 10px 0;
    color: black;
    font-size: 2.3rem;
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.6);
}

.parrafoSubtitulo{
    color: brown;
    font-size: 1.2rem;
    font-family: 'Onest', sans-serif;
    font-weight: bold;
    text-shadow: 1px 2px 5px rgba(75, 69, 69, 0.4);
}

.cardProductosContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardProductosContainer .cards{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 400px;
    height: 450px;
}

.cardProductosContainer .cards img{
    width: 300px;
    height: 300px;
}

.cardProductosContainer .cards .cardInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content:  left;
    align-items: left;
    text-align: left;
}

.cardProductosContainer .cards .cardInfoContainer h3{
    color: black;
    font-size: 1.2rem;
    font-family: 'Onest', sans-serif;
    font-weight: 800;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}

.cardProductosContainer .cards .cardInfoContainer .precio{
    color: goldenrod;
    font-size: 1rem;
    font-family: 'Onest', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}

.cardProductosContainer .cards .cardInfoContainer .descripcion{
    color: black;
    font-size: 1rem;
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}


.buttonAgregar{
    text-align: center;
    width: 200px;
    height: 40px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
    background-color: darkgreen;
    font-family: 'onest', sans-serif;
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: 1s;
}

.buttonAgregar:hover{
    background-color: transparent;
    border: 3px solid darkgreen;
    color: darkgreen;
}



/*ESTILOS DEL CARRITO*/
.carritoCardsContainer{
    width: 100%;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.carritoCardsContainer h1{
    font-family: 'onest',sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 1px 2px 5px rgba(75, 69, 69, 0.4);
}

.carritoContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.carritoContainer .cardCarrito{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 70%;
    margin: 8px 0;
}

.carritoContainer .cardCarrito .imgProducto img{
    width: 130px;
    height: 130px;
}

.cantidadContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.cantidadContainer p{
    font-weight: 600;
    font-family: 'onest', sans-serif ;
}

.carritoContainer .cardCarrito .cardInfoContainer h3{
        color: black;
        font-size: 1.2rem;
        font-family: 'Onest', sans-serif;
        font-weight: 800;
        text-shadow: 1px 2px 5px rgba(75, 69, 69, 0.4);
    }
    
    .carritoContainer .cardCarrito .cardInfoContainer .precio{
        color: goldenrod;
        font-size: 1rem;
        font-family: 'Onest', sans-serif;
        font-weight: bold;
    }
    
    .carritoContainer .cardCarrito .cardInfoContainer .descripcion{
        color: black;
        font-size: 1rem;
        font-family: 'Onest', sans-serif;
        font-weight: 500;
        text-shadow: 1px 2px 5px rgba(75, 69, 69, 0.4);
    }

    .carritoCardsContainer .carritoVacio{
        font-size: 2rem;
        font-family: 'onest',sans-serif;
        font-weight: bold;
        color: red;
        display: none;
    }

    .carritoVacioIcon{
        width: 25px;
        height: 25px;
    }


    .contenedorTotales{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .totalContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        text-align: center;
    }


    .total{
        font-family: 'onest',sans-serif;
        color: black;
        font-weight: bold;
        font-size: 2rem;
    }

    .totalContainer .total span{
        color: goldenrod;
    }



    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 25px;
    }

    .comprar{
        width: 250px;
        height: 40px;
        border-radius: 5px;
        text-align: center;
        background-color: green;
        border: none;
        text-shadow: 1px 2px 5px rgba(75, 69, 69, 0.4);
    }


    .comprar a{
        font-family: 'onest', sans-serif;
        color: white;
        font-weight: 500;
        text-decoration: none;
    }

    .vaciarCarrito{
        width: 250px;
        height: 40px;
        border-radius: 5px;
        background-color: red;
        text-align: center;
        border: none;
        text-shadow: 1px 2px 5px rgba(75, 69, 69, 0.4);
    }


    .vaciarCarrito a{
        font-family: 'onest', sans-serif;
        color: white;
        font-weight: 500;
        text-decoration: none;
    }

    .popUp {
        display: none; 
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 1px solid #ccc;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        text-align: center;
    }

    .popUp p{
        color: black;
        font-size: 1rem;
        font-family: 'Onest', sans-serif;
        font-weight: 500;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
    }

    .popUp button{
        width: 250px;
        height: 40px;
        border-radius: 5px;
        text-align: center;
        background-color: green;
        border: none;
        text-shadow: 1px 2px 5px rgba(75, 69, 69, 0.4);
    }
    .popUp button a{
        text-decoration: none;
        color: white;
    }

    footer .footerContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: 100px;
        margin-top: 60px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .footerContainer .logosContainer{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .footerContainer svg{
        width: 30px;
        height: 30px;
    }

    .whatsapp{
        color: darkgreen;
    }

    .instagram{
        color: purple;
    }

    .facebook{
        color: darkblue;
    }

    .infoFooterContainer{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .infoFooterContainer .titleFooter{
        font-family: 'onest',sans-serif;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        text-shadow: 1px 2px 5px rgba(0,0,0,0.6);
    }


    .infoFooterContainer .subtitleFooter{
        font-family: 'onest',sans-serif;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        text-shadow: 1px 2px 5px rgba(0,0,0,0.6);
    }
    

